.app {
  max-width: 960px;
  margin: 5% auto; }

.jumbotron {
  padding: 2em; }

.add-unit {
  display: block;
  float: none;
  margin: 1em auto; }

.disclaimer {
  font-size: 12px;
  text-align: center;
  color: #cccccc;
  margin: 5em 0; }

.counter {
  text-align: center; }

.inventory {
  margin: 2em 0; }

.store__items {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }

.store__item {
  margin: 1em 0; }

.win {
  box-sizing: border-box;
  text-align: center;
  width: 66%;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #3d3d3d;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -33%;
  padding: 2em;
  z-index: 2;
  display: none; }
  .win.true {
    display: block; }
  @media screen and (max-width: 600px) {
    .win {
      width: 80%;
      margin-left: -40%; } }

.win__modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: none; }
  .win__modal.true {
    display: block; }

.win__submit {
  display: block; }
  .win__submit.win__submit--submitted {
    display: none; }
