.app {
  max-width: 960px;
  margin: 5% auto; }

.jumbotron {
  padding: 2em; }

.add-unit {
  display: block;
  width: 210px;
  float: none;
  margin: 1em auto;
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.05s linear;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
	Introduced in IE 10.
	See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
  -ms-user-select: none;
  user-select: none; }
  .add-unit:focus {
    outline: none; }
  .add-unit:active {
    transform: scale(1.15, 1.05);
    box-shadow: 0px 0px 15px 10px rgba(92, 184, 91, 0.3); }
  .add-unit:hover {
    text-decoration: none; }

.disclaimer {
  font-size: 12px;
  text-align: center;
  color: #3d3d3d;
  margin: 5em 0; }

.faces {
  position: fixed;
  top: -25px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: -2; }

.counter {
  text-align: center; }

.counter h3 {
  height: 35px;
  overflow: hidden; }

.unit span {
  display: block;
  line-height: 30px; }

.unit-enter {
  display: none;
  opacity: 0;
  transition: all 0.150s linear;
  transform: scale(1); }
  .unit-enter.unit-enter-active {
    display: block;
    opacity: 1;
    transform: scale(1.2); }

.unit-leave {
  display: block;
  transition: all 0.100s linear;
  transform: scale(1.2);
  opacity: 1; }
  .unit-leave.unit-leave-active {
    display: none;
    opacity: 0;
    transform: scale(1); }

.inventory {
  margin: 2em 0; }

.store__items {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }

.store__item {
  margin: 1em 0; }

.win {
  box-sizing: border-box;
  text-align: center;
  width: 66%;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #3d3d3d;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -33%;
  padding: 2em;
  z-index: 2;
  display: none; }
  .win.true {
    display: block; }
  @media screen and (max-width: 600px) {
    .win {
      width: 80%;
      margin-left: -40%; } }

.win__modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: none; }
  .win__modal.true {
    display: block; }

.win__submit {
  display: block; }
  .win__submit.win__submit--submitted {
    display: none; }
