.app {
	max-width: 960px;
	margin: 5% auto;
}

.jumbotron {
	padding: 2em;
}

.add-unit {
	display: block;
	width: 210px;
	float: none;
	margin: 1em auto;
	padding: 1em 2em;
	cursor: pointer;
	border-radius: 3px;
	transition: all 0.05s linear;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
	Introduced in IE 10.
	See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;

	&:focus {
		outline: none;
	}
	
	&:active {
		transform: scale(0.95, 0.85);
		box-shadow: 0px 0px 15px 10px rgba(92,184,91,0.3);
	}

	&:hover {
		text-decoration: none;
	}
}

.disclaimer {
	font-size: 12px;
	text-align: center;
	color: #3d3d3d;
	margin: 5em 0;
}

.faces {
	position: fixed;
	top: -25px;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.7;
	z-index: -2;
}
// break this up into modules, dawg