.app {
	max-width: 960px;
	margin: 5% auto;
}

.jumbotron {
	padding: 2em;
}

.add-unit {
	display: block;
	float: none;
	margin: 1em auto;
}

.disclaimer {
	font-size: 12px;
	text-align: center;
	color: #cccccc;
	margin: 5em 0;
}
// break this up into modules, dawg