.app {
	max-width: 960px;
	margin: 5% auto;
}

.jumbotron {
	padding: 2em;
}

.add-unit {
	display: block;
	float: none;
	margin: 1em auto;
}

.disclaimer {
	font-size: 12px;
	text-align: center;
	color: #3d3d3d;
	margin: 5em 0;
}

.faces {
	position: fixed;
	top: -25px;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.7;
	z-index: -2;
}
// break this up into modules, dawg