.counter {
	text-align: center;
}

.counter h3 {
	height: 35px;
	overflow: hidden;
}

.unit span{
	display: block;
	line-height: 30px;
}

.unit-enter {
	display: none;
	opacity: 0;
	transition: all 0.150s linear;
	transform: scale(1);
	
	&.unit-enter-active {
		display: block;
		opacity: 1;
		transform: scale(1.2);
	}

}

.unit-leave {
	display: block;
	transition: all 0.100s linear;
	transform: scale(1.2);
	opacity: 1;

	&.unit-leave-active {
		display: none;
		opacity: 0;
		transform: scale(1);
	}
}